body {
    margin: 0px;
    font-family: "Roboto", sans-serif;
}

.header {
    background-color: rgb(30, 30, 30);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
}

.base {
    padding: 25px 5px 25px 5px;
    margin: 0px;
}

.logo {
    width: 100px;
}

.btn {
    background-color: rgb(147, 112, 219);
    border-radius: 15px;
    padding: 7px 20px 7px 20px;
    border: none;
    color: aliceblue;
}

.btn:hover {
    background-color: rgb(183, 159, 231);
}

.links a {
    color: white;
    padding: 7px 25px 7px 25px;
    text-decoration: none;
    border-radius: 15px;
}

.links a:hover {
    background-color: rgb(147, 112, 219);
}

.landing {
    background-color: rgb(30, 30, 30);
    display: flex;
    justify-content: space-between;
    padding: 50px 50px;
    color: white;
    align-items: center;
    border-radius: 0 0 50px 50px;
}

.search input {
    border-radius: 50px;
    border: none;
    outline: none;
    height: 30px;
    padding: 0 10px;
}

.search button {
    position: absolute;
    left: 200px;
    height: 30px;
}

.landing-page-image-container img {
    border-radius: 20px;
    width: 250px;
}

.landing-page-left-section {
    width: 500px;
}

.games {
    padding: 50px 50px;
}

.games span {
    color: rgb(147, 112, 219);
    text-transform: uppercase;
    font-size: 20px;
}

.T-games {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.T-games h2 {
    margin-top: 0px;
}

.trending-cards {
    display: flex;
    gap: 15px;
}

.card {
    width: 300px;
    background-color: #EEEEEE;
    border-radius: 20px;
}

.card .thumb {
    border-radius: 20px 20px 0 0;
    width: 280px;
}

.card-info {
    display: flex;
    justify-content: space-between;
    padding: 5px 25px;
}

.card-info img {
    width: 50px;
}

.card-2 {
    margin: 50px;
    width: 280px;
    background-color: #EEEEEE;
    border-radius: 20px;
}

.card-2 .thumb {
    border-radius: 20px 20px 0 0;
    width: 280px;
}